.heading-child-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: 3rem;
}

.heading-child-div-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
